/* * {
    margin: 0;
} */

body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

nav > ul {
    background-color: #a4c5c6;
    margin: 0;
}

.nav-menu-items {
    display: flex;
    justify-content: flex-start;
}

.nav-menu-items li {
    list-style-type: none;
    font-size: 1.25rem;
    margin: 1rem 1rem;
}

h1 {
    font-size: 4rem;
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;
}

.top_container {
    background-color: #a4c5c6;
    position: relative;
    padding-top: 100px;
    font-family: 'Lobster', cursive, serif;
    color: #856c8b;
    
}

.middle-container {
    margin: 0 20%;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 350px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 350px;
    bottom: 300px;
}

.profile-pic {
    width: 25%;
    margin: 0 auto;
}

.profile {
    margin-top: 75px;
}

.skill-row {
    display: flex;
    margin-bottom: 30px;
}

.skill-row-2 {
    display: flex;
    flex-direction: row-reverse;
}

.skill-row-3 {
    display: flex;
}

.skill-row-item {
    text-align: left;
    margin-left: 1rem;
}

.skill-img {
    width:200px;
}

hr {
    margin-top: 30px;
}

.BUTTON_RBC {
    background: #8F7C93;
    background-image: -webkit-linear-gradient(top, #8F7C93, #B4A5B7);
    background-image: -ms-linear-gradient(top, #8F7C93, #B4A5B7);
    background-image: -moz-linear-gradient(top, #8F7C93, #B4A5B7);
    background-image: -o-linear-gradient(top, #8F7C93, #B4A5B7);
    background-image: linear-gradient(to bottom, #8F7C93, #B4A5B7);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 1remgggggggggggggggggggggggggg;
    }
    
.BUTTON_RBC:hover {
    border: solid #337FED 1px;
    background: #856C8B;
    background-image: -webkit-linear-gradient(top, #856C8B, #A998AD);
    background-image: -moz-linear-gradient(top, #856C8B, #A998AD);
    background-image: -ms-linear-gradient(top, #856C8B, #A998AD);
    background-image: -o-linear-gradient(top, #856C8B, #A998AD);
    background-image: linear-gradient(to bottom, #856C8B, #A998AD);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    }




